.projects {
  width: 800px;
  padding-bottom: 0px !important;
}

.project-item {
  font-size: 16px;
  margin-top: 5px;
  width: 100%;

  svg {
    width: 14px;
    height: 14px;
  }

  .name {
    width: 51%;
    margin-right: 5px !important;
    display: block;
  }

  .remove, .favorite {
    width: 4%;
  }

  .favorite {
    margin-top: 4px;
    margin-right: 5px !important;

    svg {
      opacity: 0.8;
      margin-top: 5px;
      margin-left: 8px;
    }
  }
}

#projects-panel {
  margin-top: 10px;
  margin-bottom: 15px;
}

.new-project, .input_name {
  display: inline-block !important;
}

.input_name {
  margin-top: 4px;
  margin-left: 4px;
  width: 280px;
}

.new-project {
  margin-left: 10px;
}

.new-project-panel {
  border-bottom: 1px solid darkslategrey;
}

.project-sort {
  padding-top: 4px;
  padding-bottom: 4px;
  border-bottom: 1px solid darkslategrey;

  .bp3-button {
    width: 20px !important;
    margin: 2px 5px !important;

    &:focus {
      outline: none !important;
    }
  }
}

.project-list {
  margin-top: 10px;
  padding-right: 25px;
  max-height: 512px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 5px;
}

.projects-count {
  padding: 10px;
  margin-right: 4px;
  font-weight: bold;
}

.datetime {
  margin-left: 5px;
  margin-right: 5px !important;
  padding-top: 5px;
  width: 20%;
  font-size: 14px;
}

.datetime-header {
  user-select: none;
  font-size: 11px;
  height: 2px;
  font-weight: 500;
  margin-top: 2px;
  padding-bottom: 4px;

  .project_name {
    margin-left: 190px;
  }

  .date_created {
    margin-left: 190px;
  }

  .date_last {
    margin-left: 80px;
  }
}

.loading-status {
  z-index: 10 !important;
  position: relative !important;
  width: 22px !important;
  height: 22px !important;
  left: 10px !important;
  top: 7px !important;
}